<div class="jumbotron">
    <h1>iRoloDex API</h1>
    <p class="lead">iRolodex is intended for the busy individual that needs to organize their contacts in one centralized location. They will have the capability to add individuals to their virtual rolodex when they’re on the go.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Endpoints</h2>
        <ul>
            <li>api/person</li>
            <li>api/household</li>
            <li>api/assignment</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Household table</h2>
        <ul>
            <li>HouseholdId</li>
            <li>Street</li>
            <li>City</li>
            <li>State</li>
            <li>Zip</li>
            <li>OwnerId</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Person table</h2>
        <ul>
            <li>PersonId</li>
            <li>HouseholdId</li>
            <li>FirstName</li>
            <li>LastName</li>
            <li>PhoneNumber</li>
            <li>Email</li>
            <li>RelationshipId</li>
            <li>OwnerId</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Relationship table</h2>
        <ul>
            <li>RelationshipId</li>
            <li>Name</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Owner table</h2>
        <ul>
            <li>OwnerId</li>
            <li>UserId</li>
            <li>Name</li>
            <li>Email</li>
        </ul>
    </div>
</div>